@use "variables" as *;
@use "componentes" as *;

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@300;400;700&display=swap");

html {
  box-sizing: border-box;
  font-size: clamp(16px, 1.5vw, 22px);
  color: $gris;
  font-family: "Poppins", sans-serif;
  background: rgb(242, 238, 227);
  background: linear-gradient(
      180deg,
      $beige 0%,
      #ffffff 30%,
      #fff 50%,
      $beige 100%
    )
    no-repeat;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2, h3 {
  line-height: 0.9em;
  font-family: "DM Serif Display", serif;
}
h1 {
  color: $azul;
  font-size: clamp(3em, 5vw, 90vw);
}
h2 {
  font-size: clamp(2em, 3vw, 60vw);
}


ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
