---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Tu guia de viaje a Ixtapa Zihuatanejo" descripcion="Tu guia de playas, comida y mejores lugares para conocer en Ixtapa Zihuatanejo">
	<Menu></Menu>
	<h1>Ixtapa</h1>
	<img src="icono-agua.svg" alt="agua">
</Layout>
