---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Tu guia de viaje a Ixtapa Zihuatanejo" descripcion="Tu guia de playas, comida y mejores lugares para conocer en Ixtapa Zihuatanejo">
	<Menu></Menu>
	<Hero titulo="¡Conoce Ixtapa Zihuatanejo!" extracto="Ixtapazihua.com es un <b> proyecto en proceso con el fin de mostrarte Ixtapa y Zihua </b> como si te guiara un local, con el fín de que te muevas como un pez en el agua en tus vacaciones."  cta="ver las <b>playas</b>" href="https://placehold.co/1080x1920" ></Hero>

	<h2>Aqui un encabezado 2</h2>
</Layout>

