--- 
export interface props{
    titulo: string;
    parrafo: string;
    cta: string;
    imagen: string;
}
const {titulo} = Astro.props
---

<div id="banner">
    <h2>{titulo}</h2>
</div>

<style lang="scss">
    @import "../estilos/_variables.scss"


</style>