---
export interface props {
  encabezado: string;
  texto: string;
  liga: string;
  imagen: string;
  
}
const {encabezado, texto, liga, imagen} = Astro.props
---

<section id="banner">
  <div class="ima">
    <img
      src={imagen}
      alt="palma de ixtapa zihuatanejo"
    />
  </div>
  <div class="info">
    <div class="conte">
      <h2>{encabezado}</h2>
      <p set:html={texto}></p>
      <a href="#" class="cta-azul" set:html={liga}></a>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../estilos/_variables.scss";
  #banner {
    background: $naranja;
    color: #fff;
    display: flex;
    margin-top: $margen-top;
    margin-right: $margen-riel;
    border-radius: 0 $radio $radio 0;
    position: relative;
    .ima {
      position: relative;
      flex: 1 0 50%;
      min-height: 70vh;
      img {
        position: absolute;
        bottom: 0;
        object-fit: cover;
        height: 110%;
      }
    }
    .info {
      flex: 1 0 50%;
      display: inherit;
      justify-content: center;
      align-items: center;
      padding: 0 $margen;
      border-top: solid 5rem transparent;
      border-left: solid 1px #fff;
      border-bottom: solid 5rem transparent;
      .conte {
        width: 80%;
      }
    }
    @include cel{
      flex-wrap: wrap;
      .ima {
      min-height: 20vh;
      img {

        height: 150%;
      }
    }

    .info {
      border: unset;
      border-top: solid 1px $azul;
      padding-top: $margen;
   
    }
    }
  }
</style>
