---
export interface props {
    icono: string;
    encabezado: string;
}
const {icono, encabezado} =Astro.props;
---
<div class="carta-iconos">
    <img src={icono} alt={encabezado}>
    <h3>{encabezado}</h3>
</div>

<style lang="scss">
    @import "../estilos/_variables.scss";

    .carta-iconos{
        flex: 1 0 auto;
        background: #fff;
        border-radius: $radio;
        text-align: center;
        padding: 1rem;
        margin: $margen-cel;
        max-width: 15rem;
        @include cel{
            flex: 1 0 50%;
            margin:0;
        }
    }
    img{
        width: 4rem;
        padding: 1rem;
        height: auto;
    }
</style>