---
import { Image } from "astro:assets";
import imagenFaq from "../assets/faq.png";
---

<article class="bandeja" id="faq">
    <ul>
      <div class="cabe">
        <img
          src="/icono-FAQ.svg"
          alt=" preguntas frecuentes de Ixtapa Zihuatanejo"
        />
        <h2>Preguntas frecuentes de Ixtapa Zihuatanejo</h2>
      </div>
    <li>
      <a href="#">¿Donde esta Ixtapa Zihuatanejo?</a>
      <div class="res">
        <p>
          <b
            >Ixtapa Zihuatanejo esta ubicado en el Mexicano estado de Guerrero
            en la costa del pacifico</b
          >, por carretera esta a hora y media el puerto de Lazaro Cardenas y a
          4 horas de la ciudad de Morelia en el estado de Michoacan, 7 horas de
          Queretaro y al sur se encuentra Acapulco a 4 horas o 7 horas de la
          Ciudad de México por la autopista del sol
        </p>
      </div>
    </li>

    <li>
      <a href="#">¿Que lineas de autobuses viajan a Ixtapa Zihuatanejo?</a>
      <div class="res">
        <p>
          Las opciones de transporte en autobús hacia Ixtapa Zihuatanejo pueden
          variar, y las líneas de autobuses pueden cambiar con el tiempo. Hasta
          mi última actualización en enero de 2023, algunas de las líneas de
          autobuses que podrían ofrecer servicios a Ixtapa Zihuatanejo incluyen:
        </p>
        <ul>
          <li>
            <b>Estrella de Oro:</b> Es una línea de autobuses que opera en la
            región sur de México y podría tener rutas hacia Ixtapa Zihuatanejo.
          </li>
          <li>
            <b>Autovías:</b> Otra compañía de autobuses que podría tener
            servicios a esta zona.
          </li>
          <li>
            <b>ETN Turistar Lujo:</b> Aunque esta línea generalmente se enfoca
            en rutas de lujo y conexiones a ciudades principales, es posible que
            ofrezca servicios hacia Ixtapa Zihuatanejo.
          </li>
          <li>
            Primera Plus: Esta línea tiene viajes a ciudades del bajío de México
          </li>
          <li>
            La Línea: Principalmente conecta Ixtapa Zihuatanejo con Guadalajara
            y ciudades de Michoacan
          </li>
          <li>
            Parhikuni: Autobuses que operan en la región de Michoacan y con
            varias rutas hacia Ixtapa Zihuatanejo
          </li>
        </ul>
      </div>
    </li>

    <li>
      <a href="#">¿Ixtapa Zihuatanejo tiene aeropuerto?</a>
      <div class="res">
        <p>
          Sí, Ixtapa Zihuatanejo cuenta con un aeropuerto. Se llama oficialmente
          "Aeropuerto Internacional de Ixtapa-Zihuatanejo" y tiene el código de
          aeropuerto ZIH. Este aeropuerto sirve a ambas localidades, Ixtapa y
          Zihuatanejo, y está ubicado a unos 20 minutos en coche del centro de
          Zihuatanejo y a aproximadamente 30 minutos de Ixtapa.
        </p>
        <p>
          El Aeropuerto Internacional de Ixtapa-Zihuatanejo es una puerta de
          entrada importante para turistas que visitan esta hermosa región de la
          costa del Pacífico mexicano. Ofrece vuelos nacionales e
          internacionales, conectando a Ixtapa Zihuatanejo con diversas ciudades
          en México y otros destinos en Canada y Estados Unidos.
        </p>
      </div>
    </li>

    <li>
      <a href="#">¿Ixtapa esta lejos de Zihuatanejo?</a>
      <div class="res">
        <p>
          Ixtapa y Zihuatanejo son dos localidades que se encuentran en la costa
          del Pacífico mexicano, en el estado de Guerrero. Aunque están
          geográficamente separadas, la distancia entre ellas no es
          considerable. En realidad, Ixtapa y Zihuatanejo están bastante cerca y
          son accesibles por carretera en un corto período de tiempo.
        </p>
        <p>
          La distancia aproximada entre Ixtapa y Zihuatanejo es de alrededor de
          6 a 7 kilómetros, lo que significa que el tiempo de conducción entre
          ambas localidades es de aproximadamente 10 a 15 minutos, dependiendo
          del tráfico y de la ubicación específica dentro de cada destino. Así
          que, en términos de tiempo de viaje, son lugares cercanos y es común
          que los visitantes que se alojan en uno de ellos exploren fácilmente
          el otro durante su estadía.
        </p>
      </div>
    </li>
    <li>
      <a href="#">¿Es caro Ixtapa Zihuatanejo?</a>
      <div class="res">
        <p>
          <b
            >La percepción de si Ixtapa Zihuatanejo es considerado caro o no
            puede variar</b
          > según las expectativas y el presupuesto individual de cada persona.
          En general, Ixtapa y Zihuatanejo ofrecen opciones para diferentes
          tipos de presupuestos, desde opciones más lujosas hasta alojamientos y
          restaurantes más accesibles.
        </p>
        <p>
          Si bien Ixtapa puede ser percibido como más caro debido a sus opciones
          de lujo, Zihuatanejo generalmente ofrece una variedad de alternativas
          más económicas.La investigación previa y la planificación cuidadosa
          pueden ayudar a encontrar opciones que se adapten a diferentes
          presupuestos.
        </p>
      </div>
    </li>

    <li>
      <a href="#">¿Como es el clima en Ixtapa Zihuatanejo?</a>
      <div class="res">
        <p>
          El clima en Ixtapa Zihuatanejo es típicamente cálido y tropical
          durante la mayor parte del año. Aquí hay una descripción general del
          clima en esta región:
        </p>
        <ul>
          <h3>Temperaturas:</h3>
          <li>
            Las temperaturas en Ixtapa Zihuatanejo tienden a ser cálidas durante
            todo el año.
          </li>
          <li>
            En los meses de invierno (de noviembre a febrero), las temperaturas
            diurnas suelen oscilar entre los 25°C y 32°C (77°F a 90°F).
          </li>
          <li>
            Durante la temporada de verano (de junio a septiembre), las
            temperaturas pueden alcanzar los 35°C (95°F) o más.
          </li>
        </ul>
        <ul>
          <h3>Temporada de Lluvias:</h3>
          <li>
            La temporada de lluvias generalmente ocurre de junio a septiembre.
            Durante este período, se pueden experimentar lluvias intensas, pero
            la región permanece verde y exuberante.
          </li>
        </ul>
        <ul>
          <h3>Agua del Mar:</h3>
          <li>
            La temperatura del agua del mar suele ser cálida y agradable, siendo
            ideal para actividades acuáticas durante la mayor parte del año.
          </li>
        </ul>
        <p>
          Es importante tener en cuenta que las condiciones climáticas pueden
          variar, y siempre es recomendable verificar pronósticos climáticos
          específicos antes de planificar tu viaje
        </p>
      </div>
    </li>
    <li>
      <a href="#"
        >¿Cuales son las fechas de la temporada alta y baja de Ixtapa
        Zihuatanejo?</a
      >
      <div class="res">
        <ul>
          <h3>Temporada Alta:</h3>
          <li>
            La temporada alta en Ixtapa Zihuatanejo generalmente coincide con
            los meses de invierno y primavera, de diciembre a abril.
          </li>
          <li>
            Durante estos meses, se espera un mayor flujo de turistas,
            especialmente aquellos que buscan escapar del clima frío en otras
            regiones.
          </li>
          <li>
            Las tarifas de hoteles y servicios turísticos tienden a ser más
            altas durante este período debido a la demanda.
          </li>
        </ul>
        <ul>
          <h3>Temporada Baja:</h3>
          <li>
            La temporada baja suele ser durante los meses de verano y principios
            de otoño, de mayo a noviembre.
          </li>
          <li>
            Durante estos meses, las temperaturas pueden ser más altas y hay una
            mayor probabilidad de lluvias debido a la temporada de huracanes.
          </li>
          <li>
            Las tarifas de hoteles y servicios turísticos pueden ser más bajas
            durante la temporada baja, ya que hay menos afluencia de turistas.
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="portadaFaq">
    <Image src={imagenFaq} alt="Preguntas frecuentes de Ixtapa Zihuatanejo" />
  </div>
</article>

<style lang="scss">
  @import "../estilos/_variables.scss";

  #faq {
    background: $beige;
    border-radius: $radio 0 0 $radio;
    display: flex;
    flex-wrap: wrap;
  }
  .cabe {
    flex: 1 0 100%;
  }
  ul {
    flex: 1 0 60%;
    li{
      .res{
        display: none;
        border: solid;
      }
    }
  }
  .portadaFaq {
    flex: 1 0 40%;
  }
</style>
<script>
  const pregunta = document.querySelectorAll('#faq ul li')
  pregunta.forEach(function(e){
    const resp = e.querySelector<HTMLElement>(".res")
    e.addEventListener('click', function(e){
      e.preventDefault();
      resp.style.display = 'block';
    })
  })

</script>
_