---

---

<nav class="bandeja">
	<div id="logo">
		<a href="/"><img src="/ixtapa-zihua-logo-menu.svg" alt="Logo del sitio web Ixtapazihua.com"></a>
	</div>
	<ul>
		<li><a href="/playas">Playas</a></li>
		<li><a href="/lugares">Lugares</a></li>
		<li><a href="/hoteles">Hoteles</a></li>
	</ul>
</nav>
<style lang="scss">
	@import "../estilos/_variables.scss";
nav{
	display: flex;
	align-items: center;
	height: 15vh;
	#logo{
		width: min(30%, 15%);
		img{
			padding-top: .5rem;
			widows: 100%;
			height: auto;
		}
	}
	@include cel{
		height: 10vh;
		#logo{
			width:50%;
		}
	}
	ul{
		display: inherit;
		li{
			margin-left: 20%;
		}
		a{
			font-family: "DM Serif Display", serif;
			font-size: clamp(18px, 1.7vw, 1.5vw);
		}
		@include cel{
			display: none;
		}
	}
}
</style>
