---

---

<nav class="bandeja">
	<div id="logo">
		<a href="#"><img src="/ixtapa-zihua-logo-menu.svg" alt="Logo del sitio web Ixtapazihua.com"></a>
	</div>
	<ul>
		<li><a href="#">Playas</a></li>
		<li><a href="#">Lugares</a></li>
		<li><a href="#">Hoteles</a></li>
	</ul>
</nav>
<style lang="scss">
nav{
	display: flex;
	align-items: center;
	height: 15vh;
	#logo{
		width: min(30%, 15%);
		img{
			padding-top: .5rem;
			widows: 100%;
			height: auto;
		}
	}
	ul{
		display: inherit;
		li{
			margin-left: 0.8rem;
		}
		a{
			font-family: "DM Serif Display", serif;
		}
	}
}
</style>
