---

---

<nav class="bandeja">
	<div id="logo">
		<a href="#"><img src="/ixtapa-zihua-logo-menu.svg" alt="Logo del sitio web Ixtapazihua.com"></a>
	</div>
	<ul>
		<li><a href="#">Playas</a></li>
		<li><a href="#">Lugares</a></li>
		<li><a href="#">Hoteles</a></li>
	</ul>
</nav>
<style lang="scss">
nav{
	display: flex;
	border: solid;
	ul{
		display: inherit;
	}
}
</style>
