---
---

<div class="rieles">
  <div class="info">
    <h3>Nuestras playas favoritas de Ixtapa Zihuatanejo</h3>
    <p>
      Estas 3 playas son las que creemos debes conocer en Ixtapa Zihuatanejo, si
      o si
    </p>
  </div>
  <div class="riel">
    <div class="playa">
      <div class="bloque">
        <div class="conte">
          <h2>Playa Las Gatas</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <a href="#" class="cta"> playa Las Gatas</a>
        </div>
      </div>
      <img src="https://placehold.jp/3d4070/ffffff/600x600.png" alt="alternativo" />
    </div>
    <div class="playa">
      <div class="bloque">
        <div class="conte">
          <h2>Playa Las Gatas</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <a href="#" class="cta"> playa Las Gatas</a>
        </div>
      </div>
      <img src="https://placehold.jp/3d4070/ffffff/600x600.png" alt="alternativo" />
    </div>
    <div class="playa">
      <div class="bloque">
        <div class="conte">
          <h2>Playa Las Gatas</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <a href="#" class="cta"> playa Las Gatas</a>
        </div>
      </div>
      <img src="https://placehold.jp/3d4070/ffffff/600x600.png" alt="alternativo" />
    </div>
  </div>
</div>

<style lang="scss">
  @import "../estilos/_variables.scss";

  .rieles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $margen-riel;
    margin-top: $margen-top;
    @include cel{
      margin-top: $margen-top-cel;
    }

    @include cel {
      flex-wrap: wrap;
      .info {
        margin-right: none;
        margin-bottom:$margen-cel;
      }
    }
  }
  .info {
    margin-right: $margen;

    h3 {
      color: $naranja;
      padding-bottom: 1rem;
    }
  }
  .riel {
    overflow-x: auto;
    overflow-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 60%;
    gap: 1rem;
    background: $fondo;
    background: linear-gradient(0deg, rgba(255,255,255,0) 10%, $fondo 10%, $fondo 50%, $fondo 90%, rgba(255,255,255,0) 90%);
    
    @include cel {
      grid-auto-columns: 80%;
    }
  }
  .playa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 1fr 20%;
    scroll-snap-align: center;

    @include cel {
      padding: 0;
      grid-template-rows:  1fr 1fr 1fr 1fr;
      grid-template-columns: 5% 1fr 5%;
    }
    .bloque {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
      background: $azul;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $margen;
      padding: $margen;
      @include cel{
        border-radius: $margen-cel;
      padding: $margen-cel;
    }
      order: 2;
     
      @include cel {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
        h2{
        padding-bottom: .7rem;
      }
      }
    }
    img {
      grid-column: 2/ -1;
      grid-row: 1 / -1;
      aspect-ratio: 1/1;
      order: 1;
      @include cel {
        grid-column: 1/ -1;
        grid-row: 2 / -1;
        aspect-ratio: 5/6;
      }
    }
  }
</style>
