---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Playas de Ixtapa Zihuatanejo" descripcion="Conoce las playas de Ixtapa Zihuatanejo, te presentamos un listado de las mejores">
    <h1>Playas de Ixtapa Zihuatanejo</h1>
    <p>Conoce la gran variedad de playas del destino, desde playas kilométricas virgenes hasta pequeñas albercas naturales con todos los servicios para el turista.</p>

</Layout>
